<ion-header>
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides [opciones]="opcion" class="ion-margin-top">
    <ion-slide>
      <ion-card>
        <img src="/assets/imagen1.webp">
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="/assets/iamgen2.jpg">
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="/assets/imagen3.jpg">
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="/assets/imagen4.jpeg">
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="/assets/imagen5.jpg">
      </ion-card>
    </ion-slide>
  </ion-slides>
  <ion-list>
    <ion-list-header>Top Juegos</ion-list-header>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="/assets/juego1.jpg">
      </ion-thumbnail>
      <ion-label>
        <h4>God Of War</h4>
        <p></p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="/assets/juego2.jpg">
      </ion-thumbnail>
      <ion-label>
        <h4>Uncharted 4: A Thief End</h4>
        <p></p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="/assets/juego3.jpg">
      </ion-thumbnail>
      <ion-label>
        <h4>Call Of Duty: Vanguard</h4>
        <p></p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="/assets/juego4.jpg">
      </ion-thumbnail>
      <ion-label>
        <h4>Battlefiend 2042</h4>
        <p></p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="/assets/juego5.webp">
      </ion-thumbnail>
      <ion-label>
        <h4>Tom clancy's rainbow six siege</h4>
        <p></p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
