

<ion-content>

  <ion-slides [opciones]="opcion" class="ion-margin-top">
    <ion-slide>
      <ion-card>
        <img src="/assets/imagen1.webp">
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="/assets/iamgen2.jpg">
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="/assets/imagen3.jpg">
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="/assets/imagen4.jpeg">
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="/assets/imagen5.jpg">
      </ion-card>
    </ion-slide>
  </ion-slides>

  <ion-label>
    top juegos
  </ion-label>

  <swiper #swiper [slidesPerView]="2.2" [spaceBetween]="05">
    
    <ng-template swiperSlide>
      <ion-card class="juegos">
        <img src="/assets/juego1.jpg">
        <ion-card-content>
          god of war
        </ion-card-content>
      </ion-card>
    </ng-template>

    <ng-template swiperSlide>
      <ion-card class="juegos">
        <img src="/assets/juego2.jpg">
        <ion-card-content>
          unchated 4: a thief's end
        </ion-card-content>
      </ion-card>
    </ng-template>

    <ng-template swiperSlide>
      <ion-card class="juegos">
        <img src="/assets/juego3.png">
        <ion-card-content>
          call of duty vanguard
        </ion-card-content>
      </ion-card>
    </ng-template>

    <ng-template swiperSlide>
      <ion-card class="juegos">
        <img src="/assets/juego4.jpg">
        <ion-card-content>
          battlefiel 2042
        </ion-card-content>
      </ion-card>
    </ng-template>

    <ng-template swiperSlide>
      <ion-card class="juegos">
        <img src="/assets/juego5.webp">
        <ion-card-content>
          tom clancy's rainbow six siegue
        </ion-card-content>
      </ion-card>
    </ng-template>
  </swiper>


  <p align="center" ><img src="/assets/revajas.jpg" class="revajas"></p>

  <swiper #swiper [slidesPerView]="2.2" [spaceBetween]="05">
    
    <ng-template swiperSlide>
      <ion-card class="juegos">
        <img src="/assets/tarejetaxbox..jpg">
        <ion-card-content>
          tarjeta de regalo xbox
        </ion-card-content>
      </ion-card>
    </ng-template>

    <ng-template swiperSlide>
      <ion-card class="juegos">
        <img src="/assets/tarjetaplaystation.png">
        <ion-card-content>
          tarjeta de regalo playstation
        </ion-card-content>
      </ion-card>
    </ng-template>

    <ng-template swiperSlide>
      <ion-card class="juegos">
        <img src="/assets/tarjetanintendo.jpg">
        <ion-card-content>
          tarjeta de regalo nintendo
        </ion-card-content>
      </ion-card>
    </ng-template>

    <ng-template swiperSlide>
      <ion-card class="juegos">
        <img src="/assets/tarjetasteam.jpeg">
        <ion-card-content>
          tarjeta de regalo steam
        </ion-card-content>
      </ion-card>
    </ng-template>

    <ng-template swiperSlide>
      <ion-card class="juegos">
        <img src="/assets/tarjetaepicgames.jpeg">
        <ion-card-content>
          tarjeta de regalo fortnite
        </ion-card-content>
      </ion-card>
    </ng-template>
  </swiper>
  
</ion-content>
