<ion-content>
  <div class="onboard-main">
    <div class="onboard-bot">
      <ion-slides pager="true">
        <ion-slide>
          <div class="onb-card">
            <div class="onb-img">
              <img src="/assets/informacion1.jpg">
            </div>
            <div class="onb-desc ion-text-center">
              <h4 class="ion-text-capitalize ion-no-margin">Grandes ofertas</h4>
              <p class="ion-no-margin">
                disfruta de los precios mas bajos en videojuegos, consolas y mucho mas.
              </p>
            </div>
          </div>
        </ion-slide>
        
        <ion-slide>
          <div class="onb-card">
            <div class="onb-img">
              <img src="/assets/informacion2.jpg">
            </div>
            <div class="onb-desc ion-text-center">
              <h4 class="ion-text-capitalize ion-no-margin">todas las marcas</h4>
              <p class="ion-no-margin">
                disfruta de todos tus videojuegos favoritos sin la plataforma
              </p>
            </div>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="onb-card">
            <div class="onb-img">
              <img src="/assets/informacion3.jpg">
            </div>
            <div class="onb-desc ion-text-center">
              <h4 class="ion-text-capitalize ion-no-margin">los mejores juegos</h4>
              <p class="ion-no-margin">
                encuentra todos tus juegos favoritos en un solo lugar
              </p>
            </div>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="onb-card">
            <div class="onb-img">
              <img src="/assets/informacion4.jpg">
            </div>
            <div class="onb-desc ion-text-center">
              <h4 class="ion-text-capitalize ion-no-margin">gaming de pc</h4>
              <p class="ion-no-margin">
                contamos con las mejores marcas de componentes para armar el ordenador de tus sueños
              </p>
            </div>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="onb-card">
            <div class="onb-img">
              <img src="/assets/informacion5.jpg">
            </div>
            <div class="onb-desc -ion-text-center">
              <h4 class="ion-text-capitalize ion-no-margin">todo para ti</h4>
              <p class="ion-no-margin">
                para que disfrutes de todos tus juegos de la mejor manera posible y de la manera mas accesible
              </p>
            </div>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
  </div>
</ion-content>
