<ion-header>
  <ion-toolbar>
    <ion-title>informacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides class="ion-margin-top">
    <ion-slide>
      <ion-card>
        <img src="/assets/informacion1.jpg">
        <ion-card-header>
          <ion-card-subtitle></ion-card-subtitle>
          <ion-card-title>grandes ofertas cada dia</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          cada dia tenemos las mejores ofertas en tus juegos favoritos 
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="/assets/informacion2.jpg">
        <ion-card-header>
          <ion-card-subtitle></ion-card-subtitle>
          <ion-card-title>Las merjores marcas de consolas</ion-card-title>
        </ion-card-header>
          contamos con todas las marcas favoritas de los usuarios para que encuentes siempre lo que buscas aqui
        <ion-card-content>

        </ion-card-content>
      </ion-card>  
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="/assets/informacion3.jpg">
        <ion-card-header>
          <ion-card-subtitle></ion-card-subtitle>
          <ion-card-title>los mejores juegos</ion-card-title>
        </ion-card-header>
          tenemos una amplia coleccion con todos los juegos que no pueden faltar en tu coleccion
        <ion-card-content>
          
        
        </ion-card-content>
      </ion-card>  
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="/assets/informacion5.jpg">
        <ion-card-header>
          <ion-card-subtitle></ion-card-subtitle>
          <ion-card-title>para que disfrutes con tus amigos</ion-card-title>
        </ion-card-header>
          para que disfrutes y te diviertas con tus amigos cada dia 
        <ion-card-content>
          
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
