<ion-content transparent>
  <div class="center" transparent>

    <div heading-column-lr transparent>
      <h1 big-heading>Hola, {{usuario.nombre}}</h1>
    </div>
    <ion-label>
    </ion-label>
  <form #formulario="ngForm" (ngSubmit) ="updateDatos()">

    <ion-item transparent>
      <ion-label>usuario</ion-label>
      <ion-input type="text" required name="usuario" [(ngModel)]="usuario.usuario"></ion-input>
    </ion-item>

      <ion-item transparent>
        <ion-label >Nombre</ion-label>
        <ion-input type="text" required
                   name="nombre" [(ngModel)]= "usuario.nombre"></ion-input>
      </ion-item>
      
      <ion-item transparent>
        <ion-label >Apellido</ion-label>
        <ion-input type="text" required
                   name="apellido" [(ngModel)]= "usuario.apellido"></ion-input>
      </ion-item>
      
      <ion-item transparent>
        <ion-label>Email</ion-label>
        <ion-input type="email" required
                   name="correo" [(ngModel)]= "usuario.correo"
                   pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"></ion-input>
      </ion-item>

      <ion-item transparent>
        <ion-label >Contraseña</ion-label>
        <ion-input type="password" required
                   name="contrasenna" [(ngModel)]= "usuario.contrasenna"></ion-input>
      </ion-item>
      
      <ion-grid>            
        <ion-row>
          <ion-col size="12">
            <ion-button class="boton" color="dark" [disabled]="formulario.invalid" type="submit">actualizar informacion</ion-button>
            <ion-button class="boton" color="dark"(click)="deleteDatos()">eliminar cuenta</ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="block" color="dark" (click)="logout()">salir</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
  </form>
  </div>
</ion-content>
